@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web app is based on our 2nd online mid exam for BSCS course Web-Engineering.
   This project covers the the Model creation, controllor addition for the corresponding models,
    database connectivity and search box addition. It has been created by the one and only Ahmad Khayam.
 </p>
