@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Web-Engineers<br />
    Kohat University Of Science and Technology<br />
    <abbr title="Phone">P:</abbr>
    03449991023
</address>

<address>
    <strong>Email:</strong>   <a href="https://mail.google.com/mail/u/0/#inbox">khayam003@gmail.com</a><br />
    <a href="https://www.yahoo.com/">khayam002@yahoo.com.com</a>
</address>